<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Netflix Sign Up</title>
  <link rel="stylesheet" href="style2.css"/>
</head>
<body>
  <div class="background">
    <div class="form-wrapper">
      <h2>Sign Up</h2>
      <form action="#" method="POST">
        <div class="form-control">
          <input type="email" name="email" required>
          <label>Email</label>
        </div>
        <div class="form-control">
          <input type="password" name="password" required>
          <label>Password</label>
        </div>
        <div class="form-control">
          <input type="number" name="age" required min="1">
          <label>Age</label>
        </div>
        <button type="submit">Sign Up</button>
      
      </form>
    </div>
  </div>
</body>
</html>
